[Unit]
Description=TeleShell Daemon
Wants=network-online.service
After=network-online.service NetworkManager-wait-online.service

[Service]
User=<your unix username here>
Type=exec
ExecStart=/usr/local/bin/teleshell

[Install]
WantedBy=multi-user.target
